#PostArtGroupRectText{
    font-family: "Verdana";
    font-size: 23px;
}
#PostArtGroupReplytext{
    font-family: "Verdana";
    font-size: 45px;
}
.PostArtGroupPosttext{
    font-family: "Verdana";
    font-size: 27px;    
}